@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
section {
  padding: 40spx 30px;
  background-color: #fffaec;
  color: #285246; }

.manifesto__heading {
  margin-bottom: 90px;
  margin-top: 90px; }

.manifesto__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 80vw;
  margin: 90px auto; }

.manifesto__group {
  width: 100%;
  display: inline-flex;
  margin: 20px auto; }

.manifesto__inner {
  align-items: center;
  display: flex;
  flex-direction: row; }

.manifesto__text {
  max-width: 194px;
  margin-right: 8%; }

.manifesto__container
.manifesto__group:nth-child(2n)
.manifesto__inner
.manifesto__text {
  margin-left: 5%; }

.manifesto__container .manifesto__group:nth-child(2n) .manifesto__inner {
  flex-direction: row-reverse; }

.manifesto__container .manifesto__group:nth-child(3n + 2) {
  justify-content: center; }

.manifesto__container .manifesto__group:nth-child(3n + 3) {
  justify-content: flex-end; }

.manifesto__group:nth-child(3n) {
  justify-content: flex-end; }

html {
  font-size: 16px; }

.manifesto__heading {
  font-weight: 700;
  font-size: 5em;
  -webkit-text-stroke: 1px #285246;
  -webkit-text-fill-color: transparent; }

.manifesto__heading span {
  -webkit-text-fill-color: #285246; }

.manifesto h4 {
  font-weight: 400;
  font-size: 1.5em; }

.text--black {
  color: black; }

.manifesto h6 {
  font-weight: 400;
  font-size: 1.1em; }

@font-face {
  font-family: Montserrat, sans-serif;
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap); }

.wrapper {
  max-width: 900px;
  margin: auto; }

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d8d8d8; }

nav ul {
  display: flex;
  align-items: center; }

ul li {
  display: flex;
  align-items: center;
  padding: 15px; }

a {
  text-decoration: none;
  font-family: Montserrat;
  color: black;
  font-family: 'Montserrat', sans-serif; }

.logo {
  font-weight: bold;
  font-size: 30px; }

.logo2 {
  font-size: 24px;
  font-style: italic; }

body {
  margin: 0 auto;
  background-color: #d8d8d8;
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  box-sizing: border-box; }

.intro {
  padding: 100px 30px 40px 30px; }
  .intro h1 {
    font-size: 103px;
    font-weight: 700;
    text-align: center;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: #d8d8d8; }
  .intro .intro-links {
    display: flex;
    position: relative; }
    .intro .intro-links .text-links a {
      text-decoration: none;
      color: black;
      font-size: 38px;
      font-weight: 400;
      display: block; }
    .intro .intro-links .arrow-link {
      list-style: none;
      width: 50px;
      height: 85px;
      position: absolute;
      top: -150px;
      right: 10px; }

body {
  margin: 0 auto;
  font-family: "Montserrat", sans-serif;
  max-width: 900px;
  background-color: #d8d8d8; }

.big-green {
  background-color: #285256;
  color: #fff;
  text-align: center;
  padding: 40px 30px 40px 30px;
  height: 250px;
  display: flex;
  justify-content: flex-end; }
  .big-green p {
    font-size: 21px;
    width: 40%;
    text-align: start; }
