html {
    font-size: 16px;
}

.manifesto__heading {
    font-weight: 700;
    font-size: 5em;
    -webkit-text-stroke: 1px #285246;
    -webkit-text-fill-color: transparent;
}

.manifesto__heading span {
    -webkit-text-fill-color: #285246;
}

.manifesto h4 {
    font-weight: 400;
    font-size: 1.5em;
}

.text--black {
    color: black;
}

.manifesto h6 {
    font-weight: 400;
    font-size: 1.1em;
}