// Main website colours:
$primary-grey: #d8d8d8;
$green: #285246;
$sand: #fffaec;
$second-grey: #a1a4a9;
$card-grey: #e2e2e2;

//Main website font
$main-font: 'Montserrat', sans-serif;

//Section padding
$padding: 40spx 30px;



